#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
- List of popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Data science tools
- Introduction of arithmetic expression

**Objectives**
- List of popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Data science tools
- Introduction of arithmetic expression

#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|MySQL|
|Ceph|
|Apache AirFlow|

|Data Science Tools|
|------------------|
|MySQL|
|Ceph|
|Apache AirFlow|

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
#Exercise 8 - Create a code cell to multiply and add numbers

#This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [9]:
#Exercise 9 - Create a code cell to convert minutes to hours

#This will convert 200 minutes to hours by dividing by 60.

200//60

3

#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Chi Wai NG (Eddie)

## Author
Chi Wai NG (Eddie)